body {
    	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    	font-size: 14px;
    	line-height: 1.428571429;
    	color: #333;
    	background-color: #fff;
}





q, s, samp, small, ins, kbd, dfn, em, font, img, cite, code, del, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, input, button {
    border: 0;
    //margin: 0;
    //padding: 0;
    outline: 0;
}


ul, h1, h2, h3, h4 {
	margin:0;
	padding:0;

}

h1, h2, h3, h4 {
	color: #666663;
        font-family: 'Roboto', sans-serif;
        //font-size: 15px;
}

strong {
    	font-weight: bold;
}

ul li {
    	list-style: none;
}


a {
    	-webkit-transition: 300ms;
    	-moz-transition: 300ms;
    	-o-transition: 300ms;
    	transition: 300ms;

	cursor:pointer;
}

a {
    	color: #fdb43c;
}

a:hover, a:focus {
    	color: #fdb45e;
}

input[type="checkbox"], input[type="radio"] {
    	margin: 2px 0 0;
    	margin-top: 1px\9;
    	line-height: normal;
    	height:auto;
}

input[type="file"] {
	padding:0;
	height:auto;
}

input {
	height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        border-radius: 0;


}


input:focus {
	border-color: #ff8b19;
        outline: 0;
 	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #fdb43c;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #fdb43c;       
}

label {
    	display: inline-block;
    	max-width: 100%;
    	margin-bottom: 5px;
}


#sdgraphics.no-scroll {
	overflow-y:hidden;
}








.form-group {
    	margin-bottom: 15px;
}

.form-group textarea, select, .form-group input[type="text"], .form-group input[type="password"], .form-group input[type="email"] {
	display: block;
	width: 100%;
	height: 24px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	border-radius: 0;
}

.form-group textarea:focus, .form-group input[type="text"]:focus, .form-group input[type="password"]:focus, .form-group input[type="email"]:focus, select:focus {
	border-color: #ff8b19;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #fe980f;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #fe980f;
	box-shadow: 0px 0px 5px #fe980f;	
}


.form-group.has-error .help-block {
	color: #d40e04;
}

.form-group textarea {
    	height: auto;
}

.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #404040;
}

.alert-generic-wrapper {
    clear: both;
    padding: 12px 0;
}


.alert.danger {
    background-color: #fc726b;
    border-color: #fc5266;
    color: #661802;
}

.alert.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}


.form-actions {
    padding: 10px 0;
}

.form-actions::before, .form-actions::after {
    content: " ";
    display: table;
}

.btn-submit {
    color: #fff;
    background-color: #fdb43c;
    border-color: transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    width: 100%;
}

.btn-clear {
    color: #fff;
    background-color: #777;
    border-color: transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    margin-top: 10px;
    width: 100%;
}



button, input[type="submit"] {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

    color: #fff;
    background-color: #fdb43c;
    border-color: transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;

  
}

button:hover, input[type="submit"]:hover {
	background-color: #fe980f;
	color:#fff;
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {

    color: #fdb45e;
    cursor: default;
    background-color: #fff;
    border:initial;
    border-right: 1px solid #777;
    border-bottom-color: transparent;
}








.navbar-collapse.collapse {
    padding-left: 0;
}



.item {
    	//padding-left: 75px;
}

.item h1 {
    color: #B4B1AB;
    font-family: abel;
    font-size: 48px;
    margin-top: 75px;
}

.item h2 {
	color: #363432;
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: 700;
}

.item h2 span {
    font-size: 20px;
    
}

.item  p {
        color:#363432;
        font-size:12px;
        font-weight:300;
        font-family: 'Roboto', sans-serif;
}

.item button:hover {
  //background: #FE980F;
	opacity:.6;
}

.machine button:hover {
  //background: #FE980F;
        opacity:.6;
}






.fa-facebook:hover { background: #0083C9; }

.fa-twitter:hover { background:#5BBCEC; }

.fa-linkedin:hover { background:#FF4518; }

.fa-dribbble:hover { background:#90C9DC; }

.fa-google-plus:hover { background:#CE3C2D; }

.fa-youtube:hover { background:#D92523; }

.fa-instagram:hover { background:#90C9DC; }

.fa-pinterest:hover { background:#BD081C; }



.fullpage {
        width:100%;
        height:auto;
        font-family: Gotham SSm,sans-serif;

}

.main {
	min-height:100vh;
}

.header {
	margin-top:50px;
}



.comingSoon {
	position:absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	z-index:5;
	
	
	//background-image:url(../images/forestbridge.jpg);
	//background-position: 50%;
	//background-size: cover;
	//background-repeat: no-repeat;

	

}

.overlay {
	position:absolute;
	z-index:10;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	background-color:#f4f4f4;

	//background-image:url(../images/laptop-keys.jpg);
	//background-position: 50%;
	//background-size: cover;
	//background-repeat: no-repeat;

}

//.overlay .overlay-inner h2 {
	//color:#fff;
//}



.product-listings {
	margin:50px 0;
}

.product-listing-container {
	width:60%;
	margin-left:auto;
	margin-right:auto;
}

.product-listing {
	padding:3px 0;
}

.product-listing-name {
	padding:1px 0;
}

.product-listing-name p {
	margin:0;
	padding:0;
}

.product-listing-actions {
	padding:0 2%;
}

.product-listing-actions .form-group {
	margin:0;
}

.product-listing:nth-child(2n) {
	background:#f4f4f4;
}

.product-listing button {
	padding:2px 4px;
	display:inline-block;
	font-size:12px;
}



form select, .detail-size select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff url('../images/leftnav-indicator.png?1501185344') no-repeat;
        background-position-x: 0%;
        background-position-y: 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-position: right 10px center;
    //background: #fff;
    border-color: #dcdcdc;
    color: #666;
    text-indent: .01px;
    text-overflow: "";
    padding: 0 0 0 7px;
    font-family: Arial,Segoe UI Symbol,sans-serif;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


.btn-signin {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    //padding: 6px 12px;
    padding: 12px 40px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    color: #fff;
    background-color: initial;
    border-color: transparent;
    float: left;
    -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.55);
    box-shadow: 0 8px 10px rgba(0,0,0,.55);
    margin: 0px 2px;
}

.view-project {
	float:none;
	color:#333;
}


#header {
    overflow-x: hidden;
}

#topline {
    height: 18px;
    //background: url(/cPanel_magic_revision_1480262870/3rdparty/roundcube/skins/larry/images/linen_header.jpg?v=514a.580) repeat #666;
    border-bottom: 1px solid #4f4f4f;
    padding: 2px 0 2px 10px;
    color: #aaa;
    text-align: center;
}

#topnav {
    position: relative;
    z-index:15;
    height: 46px;
    margin-bottom: 10px;
    padding: 0 0 0 10px;
    //background: #111;
    //background: -moz-linear-gradient(top,#404040 0,#060606 100%);
    //background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#404040),color-stop(100%,#060606));
    //background: -o-linear-gradient(top,#404040 0,#060606 100%);
    //background: -ms-linear-gradient(top,#404040 0,#060606 100%);
    //background: linear-gradient(to bottom,#404040 0,#060606 100%);
}

#toplogo {
    padding-top: 3px;
    cursor: pointer;
    border: 0;
}

.content {
    position: absolute;
    //left: 0;
    //right: 0;
    //top: 0;
    //bottom: 0;
    //margin: auto;
    //display: inline-block;
    //height: 25vh;
    //text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}










/**********Loader**********/

.loader {
    animation: loader-rotating 2s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    width: 30px;
    height: 30px;
    -ms-transform: scale(1);
    transform: scale(1);
    transition: all .2s ease;
}

.fullpage .loader {
	visibility:hidden;
}

@keyframes loader-rotating {
	0% { transform: rotate(0deg);}
	100% { transform: rotate(1turn);}
}




























/********Content*********/


#content .main-nav .navbar-toggle {
    background-color: #000;
}



#content .main-nav .navbar-toggle .icon-bar {
    background-color: #fff;
}



.menu-nav ul li:first-child {
    padding-left: 0px;
}

.menu-nav ul li {
    padding-right: 15px;
    padding-left: 15px;
}

#content .main-nav .menu-nav .navbar-nav {
    margin: 7.5px -15px;
}

#content .main-nav .menu-nav .sub-menu {
    position: absolute;
    top: 30px;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    list-style: none;
    padding: 0;
    margin: 0;
    width: 220px;
    -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 999;

	//transition: opacity .4s, margin-top .4s;
}


.navbar-collapse li .sub-menu li {padding: 10px 20px 0;}
.navbar-collapse li .sub-menu li:last-child {padding-bottom: 20px;}

#content .main-nav .menu-nav .navbar-collapse .sub-menu li a {color: #fff;}


#content .main-nav .menu-nav ul li a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
    padding: 0;
    padding-bottom: 10px;
}



#content .main-nav .searchbox input {
    background: #F0F0E9;
    border: medium none;
    color: #B2B2B2;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: 300;
    height: 35px;
    outline: medium none;
    padding-left: 10px;
    width: 155px;
    background-image: url(../images/searchicon.png);
    background-repeat: no-repeat;
    background-position: 90%;

    transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;

}

#content .main-nav .searchbox input:focus {
        border-color: #ccc;
        -webkit-box-shadow: none;
        box-shadow: none;
}










/*******BreadCrumb*********/
.breadcrumb-wrapper {
        padding-top:10px;
        padding-bottom:30px;
}

.breadcrumb-wrapper .breadcrumb {
        float: left;
        width: 100%;
        position: relative;
        min-height: 1px;
        //padding-left: 15px;
        //padding-right: 15px;
        background: none;
        margin-bottom: 6px;
}

.breadcrumb-wrapper .breadcrumb > li + li::before {
    content: ">";
}

.breadcrumb > li + li::before {
    content: "/ ";
    padding: 0 5px;
    color: #ccc;
}


.breadcrumb-wrapper .breadcrumb li a {
	font-size:12px;
	text-transform:capitalize;
}

.breadcrumb-wrapper .breadcrumb li:last-of-type a {
    color: #333;
	cursor:text;
}

//.breadcrumb-wrapper .breadcrumb li a:hover {
        //opacity:.7;
//}


@media screen and (min-width: 768px) {
	.breadcrumb {margin-bottom: 10px;padding: 8px 0 0;}
        .breadcrumb-wrapper .breadcrumb {padding-left: 15px;padding-right: 15px;}
}

@media screen and (min-width: 992px) {
	.breadcrumb-wrapper .breadcrumb {float: left;width: 75%;}
}






















/*******Products*********/
.products {
	padding:50px 0;
	
}

.products-heading {
	margin-bottom:20px;
}

.products-heading p {
	font-size:24px;
	text-transform:uppercase;
	font-weight:400;
}

.products .product {
	//position:relative;
	padding: 0 1%;
}

.products .product:nth-child(2n + 1) { clear:both;}


.products .product .product-wrapper {
	position:relative;
}

.products .product .product-wrapper:hover {
	border: 1px solid #ddd;
}


.products .product .quickview {
	position:absolute;
	right:0;
	z-index:100;
	cursor:pointer;
}

.products .product .quickview:hover > span {
	color:#111;
}

.products .product .quickview:hover > span::after {
	background:url(/images/eye-icon-new-hover.png);
}

.products .product .quickview span {
	color:#aaa;
	font-family: "dcmediumfont","Helvetica Neue","Helvetica",Arial,Segoe UI Symbol,sans-serif;
	text-transform:uppercase;
	font-size:12px;
	visibility:hidden;	
	padding-right:25px;
}

.products .product .quickview span::after {
	content: "";
	background:url(/images/eye-icon-new.png);
	height:15px;
	width:15px;
	position:absolute;
	z-index:100;
	right:0;
	top:50%;
	transform:translate(-50%, -50%);

}

.products .product .product-wrapper:hover > .quickview span {
	visibility:visible;
}




.products .product .product-image img {
	max-width:100%;
}

.products .product .alt-images .alt-images-wrapper {
	position:relative;
	z-index:1;
	height:50px;
}

.products .product .alt-images .count-wrapper {
	position:relative;
	height:100%;
	background:#fff;
}

.products .product .alt-images .count-wrapper .count {
	width:90%;
	margin-left:auto;
	margin-right:auto;
	position:relative;
	transform:translate(0, 50%);
}





 


.products .product .product-info {
	//border-top:1px solid #ddd;
	//padding:20px 0;
}

.products .product .product-info .product-info-wrapper {
	border-top:1px solid #ddd;
	width:90%;
	margin-left:auto;
	margin-right:auto;
	padding:20px 0;
}

.products .product .product-info-wrapper .product-title {
	padding:5px 0;
}

.products .product .product-info-wrapper h1 {
	color:#222;
	font-weight:400;
	font-size:14px;
}

.products .product .product-info-wrapper p {
	font-size:12px;
	color:#bbb;
}






@media screen and (min-width: 768px) {
	.products .product:nth-child(2n + 1) { clear:none;}
	.products .product:nth-child(3n + 1) { clear:both;}

	.products .product .alt-images .alt-images-wrapper[data-images-gte~="1"]:hover > .carousel-alt-images {
		z-index:1;
	}
}

@media screen and (min-width: 992px) {
	.products .product:nth-child(3n + 1) { clear:none;}
	.products .product:nth-child(4n + 1) { clear:both;}
}





















/*******Cart*********/

.cart-items {
    	//position: relative;
    	//float: left;
    	//width: 100%;
    	min-height: 1px;
    	padding-left: 15px;
    	padding-right: 15px;
}

.cart-items .cart-header {
   	margin-left: -4px;
    	margin-right: -4px;
    	font-weight: bold;
    	padding-bottom: 10px;
    	padding-top: 10px;
}

.cart-items .cart-header .product {
    	position: relative;
    	min-height: 1px;
    	padding-left: 4px;
    	padding-right: 4px;
}

/*
.cart-items .cart-header .quantity {
    	position: relative;
    	min-height: 1px;
    	padding-left: 4px;
    	padding-right: 4px;
    	text-align: center;
}*/

.cart-items .cart-header .quantity, .cart-items .cart-header .each, .cart-items .cart-header .total, .cart-items .cart-header .remove {
    	position: relative;
    	min-height: 1px;
    	padding-left: 4px;
    	padding-right: 4px;
    	text-align: center;
}

.cart-items .cart-line-item {
    	margin-left: -4px;
    	margin-right: -4px;
    	border-bottom: 1px solid #eee;
    	margin-bottom: 6px;
    	padding-bottom: 6px;
}

.cart-items .cart-line-item .image {
    	position: relative;
    	min-height: 1px;
    	padding-left: 4px;
    	padding-right: 4px;
}

.cart-items .cart-line-item .info {
    	position: relative;
    	min-height: 1px;
    	padding-left: 4px;
    	padding-right: 4px;
    	padding-top: 5px;
	text-align:right;
}

.info {
	padding-bottom:12px;
}

.cart-items .cart-line-item .info > div {
    	padding: 1px 0 0;
}

.info div {
	font-size:10px;
}

.info div strong {
	font-size:14px;
}

.info div span {
	font-size:10px;
}

.cart-items .cart-line-item .quantity {
    	position: relative;
    	min-height: 1px;
    	padding-left: 4px;
    	padding-right: 4px;
    	//text-align: center;
	text-align: right;

}

.cart-items .cart-line-item .quantity input {
    	text-align: center;
	width:50%;
	float:right;
}

.cart-items .cart-line-item .quantity .quantity-group .btn-info {
    	-webkit-transition: 300ms;
    	-moz-transition: 300ms;
    	-o-transition: 300ms;
    	transition: 300ms;


    	color: #fe980f;
    	font-weight: normal;
    	border-radius: 0;
    	visibility:hidden;
    	opacity:0;
}

.cart-items .cart-line-item .quantity .quantity-group .btn-info.is-active {
	visibility:visible;
    	opacity:1;
}


.cart-items .cart-line-item .quantity .quantity-group .btn-info, .cart-items .cart-line-item .quantity .quantity-group .btn-info:hover, .cart-items .cart-line-item .quantity .quantity-group .btn-info:focus, .cart-items .cart-line-item .quantity .quantity-group .btn-info:active {
	border-color: transparent;
}


.cart-items .cart-line-item .quantity .quantity-group .btn-info, .cart-items .cart-line-item .quantity .quantity-group .btn-info:active, .cart-items .cart-line-item .quantity .quantity-group .btn-info.active, .cart-items .cart-line-item .quantity .quantity-group .btn-info[disabled], fieldset[disabled] .cart-items .cart-line-item .quantity .quantity-group .btn-info {
    	background-color: transparent;
    	-webkit-box-shadow: none;
    	box-shadow: none;
}




.cart-items .cart-line-item .each, .cart-items .cart-line-item .total, .cart-items .cart-line-item .actions {
    	//left: 25%;
    	position: relative;
    	min-height: 1px;
    	padding-left: 4px;
    	padding-right: 4px;
    	//text-align: center;
	text-align: right;
}


/*
.cart-items .cart-line-item .actions {
    //right: 50%;
    	position: relative;
    	min-height: 1px;
    	padding-left: 4px;
    	padding-right: 4px;
    	text-align: center;
}
*/


.cart-items .cart-line-item .heading {
    	font-weight: bold;
	display:inline-block;
	font-size:10px;
}

.cart-items .cart-line-item .actions form {
	display:inline-block;
}

.cart-items .cart-line-item .actions .btn-delete {
    	color: #ff8b19;
    	font-weight: normal;
    	border-radius: 0;
    	color: #fb392f;
    	font-size: 18px;
    	line-height: 1;
    	//margin-right: 10px;
    	padding: 0;
    	text-decoration: none;
}


.cart-items .cart-line-item .actions .btn-delete, .cart-items .cart-line-item .actions .btn-delete:hover, .cart-items .cart-line-item .actions .btn-delete:focus, .cart-items .cart-line-item .actions .btn-delete:active {
    border-color: transparent;
}


.cart-items .cart-line-item .actions .btn-delete, .cart-items .cart-line-item .actions .btn-delete:active, .cart-items .cart-line-item .actions .btn-delete.active, .cart-items .cart-line-item .actions .btn-delete[disabled], fieldset[disabled] .cart-items .cart-line-item .actions .btn-delete {background-color: transparent;-webkit-box-shadow: none;box-shadow: none;}

.cart-items .cart-line-item .actions .btn-delete span {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	//font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0,0);
}





.cart-summary {
    	position: relative;
    	min-height: 1px;
    	padding-left: 15px;
    	padding-right: 15px;
    	background: #f4f4f4;
    	clear: both;
    	padding: 6px 12px;
}

.cart-summary .row span {
    	position: relative;
    	min-height: 1px;
    	padding-left: 15px;
    	padding-right: 15px;
    	font-size: 18px;
    	font-weight: bold;
    	padding: 1px 0;
}

.cart-summary .row span:first-of-type {
    	position: relative;
    	min-height: 1px;
    	padding-left: 15px;
    	padding-right: 15px;
    	text-align: right;
    	color: #555;
}


.cart-summary .row.total span:last-of-type {font-weight: bold;}

.cart-actions form {
    	clear: both;
    	float: right;
    	margin: 15px 0 0;
}

.cart-actions button {
	padding: 10px;
	//border:1px solid #d5d5d5;
	border-bottom-right-radius:.25em;
	border-bottom-left-radius:.25em;
	border-top-right-radius:.25em;
	border-top-left-radius:.25em;
	background-color:#e1e1e1;
	font-size:.75em;
	color:#060606;
	font-weight:bold;

	background-image: url(../images/Paypal-logo-website.png);
	background-repeat: no-repeat;
	background-position: 50%;

	width: 120px;
	//text-align: left;
	height:34px;

}

.cart-actions .continueShopping {
	clear:both;
	float:right;
	margin: 15px 0 0;
	vertical-align: middle;	
}


.cart-actions .continueShopping a {
	color: #333;
	vertical-align: middle;
	font-size:10px;	
	
}


.cart-actions .continueShopping a i {
	display: inline-block;
	vertical-align: middle;
	
}

.cart-actions .continueShopping a i::before {
	content: url("/sewmuchmore/images/backarrow_web.png");
}



/*
.cart-actions button::after {
	content: url("/sewmuchmore/images/Paypal-logo-website.png");
}
*/

















.button-add-to-cart {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 0;
    border-color: transparent;
    display: block;
    font-size:18px;
    width: 100%;
    color:#fff;
}

.button-add-to-cart > span {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0,0);
    margin-right:.4em;	
}

//.button-add-to-cart > span::before {
    //content: "";
//}

.prod-ratings {
    padding-bottom: 6px;
}

.review-summary {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 0 0 10px;
}

.review-summary img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: 6px;
}

.Revere__wrap.rev-read-container {
    margin: 0;
    padding: 0;
}

.rev-read-container .review:first-of-type {
    border-top: none;
    margin-top: 0;
    padding-top: 0;
}
.rev-read-container .review {
    border-top: 1px solid #eee;
    margin: 6px 0 0;
    padding: 6px 0 0;
}
.Revere__wrap div {
    position: relative;
}

.detail-tab-wrap .btn-review-this {
    display: none;
}

.btn-review-this {
	color:#fff;
}

.btn-clear {
        color:#fff;
}


.review-links {
    color: #777;
    display: inline-block;
    padding-top: 5px;
}

.review-links a {
    color: #777;
}

.review-links a:hover {
    color: #444;
}





.detail-tabs {
        margin-top: 30px;
}

.detail-tab-wrap {
    clear: both;
    margin-bottom: 30px;
}


.detail-tab-wrap .nav-tabs {
    border: none;
    //font-size: 120%;
    padding: 0;
    margin: 0 0 15px;
}

.detail-tab-wrap .nav-tabs > li {
    background: none;
}

.nav-tabs > li a {
    background: none;
    border: none;
    border-right: 1px solid #777;
    color: #000;
    padding: 0 12px;
}

.nav-tabs > li a:hover {
   background:none;
   border-right: 1px solid #777;
   color:#696763;
   border-top:none;
}


.detail-tab-wrap > .tab-content > .tab-pane {
    max-height: 480px;
    overflow: auto;
}

.detail-tab-wrap .tab-pane {
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}


.detail-tab-wrap .tab-pane .brand-details p {
	font-size:12px;
	color:#000;
}








.detail-tab-wrap .tab-content .tab-content-container {
	transition: all 0.5s ease 0s;
    	-moz-transition: all 0.5s ease 0s;
    	-webkit-transition: all 0.5s ease 0s;
    	-o-transition: all 0.5s ease 0s;	

	margin-top:35px;
}












.double-wrapper {
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.double-wrapper .form-group {
    min-height: 1px;
    padding-left: 7.5px;
    padding-right: 7.5px;
}







@media screen and (min-width: 768px) {
	.detail-images-wrapper, .detail-tabs { position:relative;}
}






















/*******Footer*********/


.footer {
	background: #F4F4F4;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	z-index:15;
}

#pos .footer {
	position:relative;
}

.footer .is-active .footer-nav-content {
    margin-top: 0;
}

.footer .footer-top .container {
        border-bottom: 1px solid #E8E8E8;
        padding-bottom: 20px;
}

.footer .companyinfo h2 {
	margin-top:40px;
    color: #B4B1AB;
    font-family: abel;
    font-weight:bold;
    font-size: 20px;
    //text-transform: uppercase;
}

.footer .companyinfo {
    margin-top: 57px;
}

.footer .companyinfo p {
    color: #B3B3AD;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
}

.footer .video-gallery {
    position: inherit;
}

.footer .video-gallery p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0px;
}

.footer .video-gallery h2 {
    color: #8c8c88;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 0px;
}

.footer .address {
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.footer .address img {
    width: 100%;
}


.footer .address p {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
    left: 25px;
    position: absolute;
    top: 50px;
}



.footer .footer-widget {
    margin-bottom: 68px;
}

.footer .footer-widget .container {
        border-top: 1px solid #FFFFFF;
        padding-top: 15px;
}

.footer .single-widget h2 {
    color: #666663;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 800;
    margin-bottom: 22px;
    text-transform: uppercase;
}


.footer .footer-nav-list {
        overflow: hidden;
        border-bottom: 1px solid #ccc;
        font-family: Gotham SSm,sans-serif;
        font-size: 14px;
}

.footer .footer-nav-list-inner {
        background-color: rgba(255,255,255,1);  
        z-index: 2;
        position: relative;
}

.footer .footer-nav-list-inner-inner {
        background: #F4F4F4;
}

.footer .footer-nav-heading {
        z-index: 3;
        position: relative;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        //background-color: #fff;
        //background-color: rgba(0,0,0,.65);
        background: #F4F4F4;
        letter-spacing: 1px;
        text-transform: uppercase;
}

.footer .footer-nav-heading span {
        font-weight: 500;
        color: #111;
}

.footer .footer-nav-heading::after {
        content: url(images/arrownew_mobile_d-2.png);
        transition: -webkit-transform .3s ease;
        transition: transform .3s ease;
        transition: transform .3s ease,-webkit-transform .3s ease;
        position: absolute;
        top: 50%;
        right: 0;
        width: 18px;
        height: 9px;
        margin-top: -9px;
}

.footer .footer-nav-content {
        transition: margin-top .3s ease;
        padding-bottom: 30px;
        padding-left: 10px;
       
}


.footer .containts-2 {
        margin-top: -87px;
}

.footer .containts-3 {
        margin-top: -123px;
}

.footer .containts-4 {
	margin-top: -174px;
}

.footer .containts-5 {
	margin-top: -195px;
}

.footer .containts-6 {
	margin-top: -231px;
}

.footer .containts-7 {
	margin-top: -267px;
}

.footer .containts-8 {
	margin-top: -303px;
}

.footer .containts-9 {
	margin-top: -339px;
}

.footer .containts-4 {
        //margin-top: -339px;
}



.footer .footer-nav-link {
        transition: color .3s ease;
        //margin-top: 15px;
        margin-bottom: 15px;
        display: block;
        //font-weight: 300;
        //color: #888;
}

.footer .footer-nav-link span {
        font-weight: 300;
        color: #888;
}

.footer .footer-nav-link a:hover {
        text-decoration:none;
}

.footer .footer-nav-link span:hover {
        //color:#2fff05;
	color:#111;
}

.footer .footer-nav-link:last-child {
    margin-bottom: 0;
}

.footer .footer-nav-link.is--hidden {
        display:none;
}






.footer .single-widget ul li a {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    padding: 5px 0;
}


.footer .newsletter-wrapper {
	padding:50px 20px;
}

.footer .newsletter input {
    border: 1px solid #DDDDDD;
    color: #CCCCC6;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    margin-top: 0;
    outline: medium none;
    padding: 7px;
    width: 212px;
}

.footer .newsletter button {
    background: #fdb43c;
    border: medium none;
    border-radius: 0;
    margin-left: -5px;
    margin-top: -3px;
    padding: 7px 17px;
}

.footer .newsletter button:hover, #footer .newsletter button:focus {
    background-color: #fe980f;
}

.footer .newsletter button i {
    color: #FFFFFF;
    font-size: 20px;
}

.footer .newsletter p {
    color: #8C8C88;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 500;
    margin-top: 25px;
}

.footer .social-media .social-wrapper {
	width:100%;
	text-align:center;
}

.footer .social-media ul li {
	display:inline-block;
	margin:7px 9px 0 0;
	overflow:hidden;
}

.footer .social-media ul li a {
	background: url(/images/social-media-icons.png) no-repeat;
	width:20px;
	height:20px;
	display:block;
	transition:none;
}

.footer .social-media ul li.twitter a {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background-position: 0 0;
}

.footer .social-media ul li.twitter a:hover {
	background-position: 0 -20px;
}

.footer .social-media ul li.facebook a {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background-position: -20px 0;
}

.footer .social-media ul li.facebook a:hover {
	background-position: -20px -20px;
}


.footer .social-media ul li.instagram a {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background-position: -40px 0;
}

.footer .social-media ul li.instagram a:hover {
	background-position: -40px -20px;
}

.footer .social-media ul li.youtube a {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background-position: -60px 0;
}

.footer .social-media ul li.youtube a:hover {
	background-position: -60px -20px;
}



.footer .social-media ul li.pinterest a {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	background-position: -110px 0;
}

.footer .social-media ul li.pinterest a:hover {
	background-position: -110px -20px;
}






.footer .footer-bottom {
    background: #e8e8e8;
    padding-top: 10px;
}

.footer .footer-bottom p {
    color: #363432;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: 15px;
        font-size:13px;
}

.footer .footer-bottom p span a {
    color: #fdb43c;
    font-style: italic;
    text-decoration: underline;
}




















@media screen and (min-width: 480px) {
	//#slider .info {min-height:330px;}	
}

@media screen and (min-width: 525px) {
	#header {text-align:left;}
	#header .headertop nav {float:right;}	
	#header .headertop nav ul {float:left;}
	#header .headerbottom nav ul li {padding-left: 15px;padding-right: 15px;}
	#header .headerbottom .count {padding: 0 .6666em;}
	
	.pagination-wrap .results-editing {text-align: right;}

}

@media screen and (min-width: 525px) and (max-width: 768px) {
	#content .main-nav .searchbox input:focus {width:100%;}
}


@media screen and (max-width: 768px) {
	.item h1 {margin-top:50px;}

	.menu-nav ul li {float:none;background: rgba(0, 0, 0, 0.5);padding-top: 15px;padding-bottom: 0;}
	.menu-nav ul li:last-child {padding-bottom: 15px;}
	#content .main-nav .menu-nav nav ul li a {color: #fff;}

	.menu-nav ul li:first-child {padding-left: 15px;}
	//#content .main-nav .menu-nav nav ul li a.active {padding-left: 15px;}
	#content .main-nav .menu-nav .sub-menu {position: relative;width: auto;display: block;background: transparent;box-shadow: none;top: 0;}	
	#content .main-nav .menu-nav .sub-menu li {background: transparent;padding-bottom: 0;}
	
	#content .main-nav .search {display: inline-block;position: absolute;left: 0;top: 38px;width:auto;}

	
	.alt-views-wrapper {display:none;}	
	.detail-images .full-image {display: none;}

	.navbar-collapse.in {overflow: inherit;}

	#home-top {z-index: 150;background-color: #FFF;}

	#home-top .homepage-carousel-container {margin-bottom: 0;}
	.homepage-carousel-container .homepage-carousel {min-height: 0;background-color: #fff;}

	.homepage-carousel-container .homepage-carousel .flex-control-paging {
    		position: initial;
    		background: #FFF;
    		opacity: 1;
    		padding: 6px 0 0 0;
    		line-height: 20px;
    		height: auto;
	}


	#slider-carousel .item {padding-left: 0;}
	//#slider .info {min-height:330px;}

	#services ul li .icon {width:70%;}

	

	#products .products .product:nth-child(n+5) {display: none !important;}
        #products .products .product:nth-child(n+6) {display: none !important;}


	//.fullpage {overflow:scroll;min-height:96vh;max-height:96vh;overflow-x:hidden;}
	//.header {width:100%;right:0;z-index:-1;background-color:#fff;height:35px;}

	.detail-tabs {z-index:-2;}
	//#footer {position:fixed;left:0;right:0;bottom:0;}
	#footer .footer-widget .large-2 {display:none;}

}


@media screen and (min-width: 768px) {
	#header .headertop .contact span {padding:8px 16px;}
 	#header .headerbottom nav {float:right;margin-right:-15px;margin-top:15px;}       
	//#content .main-nav .menu-nav .sub-menu {transition: opacity .4s, margin-top .4s;}

	.navbar-toggle {display: none;}

	#content .main-nav .menu-nav nav > ul > li:hover > ul.sub-menu {
        display: block;
        //opacity:1;
        //margin-top:0px;
        -webkit-animation: fadeInUp 400ms;
        -moz-animation: fadeInUp 400ms;
        -ms-animation: fadeInUp 400ms;
        -o-animation: fadeInUp 400ms;
        animation: fadeInUp 400ms;
	}

	#account .account-navigation {margin-top: 15px;}
	.account-navigation .toggle-left-nav, .atc-navigation .toggle-left-nav {display: none;}
	.account-navigation .side-nav ul li {display: block;font-size: 16px;padding-left: 10px;}
	.account-navigation .side-nav ul li a {background: none;color: #333;padding-bottom: 0;padding-top: 0;}



	

	.detail-alt-views > ul li a {margin: 6px;}

	.detail-name {margin: 10px 0 6px;}
	.detail-color {font-size: 30px;margin: 0 0 5px;}
	.detail-price sup {font-size: 14px;top: -19.6px;}
	.mobile-detail-carousel-wrapper {display: none !important;}


	
	//.button-add-to-cart > span {margin-right: .4em;}
	.snippet-wrapper .prod-ratings {float: left;}
	.review-links {float: right;padding-left: 10px;padding-top: 2px;text-align: right;}



	#slider .machine {margin-left:-50px;}

	


	

	#products .products .product:nth-child(2n+1) {clear: none;}	
	#products .products .product:nth-child(3n+1) {clear: both;}

	#products .products .product:hover > .product-img-wrap .quickshop-wrap { display:block; }

	.btn-submit, .btn-clear {margin-top: inherit;width: auto;}
	.double-wrapper .form-group {float: left;width: 50%;}

	
	//.listing-wrapper .pagination-wrap .pages {display: block;}
	//.pagination-wrap .results-editing {text-align: initial;}


	#footer .video-gallery {margin-top: 57px;}

	

	.adminJS .main-content {overflow:hidden;min-height:96vh;max-height:96vh;}

	//.detail-tab-wrap .nav-tabs {padding-left:40%;}


	//.footer .footer-widget { margin-bottom:0px; }

	.footer .footer-nav {
                display:-webkit-flex;
                display:-ms-flexbox;
                display:flex;
                -webkit-flex-grow:1;
                -ms-flex-positive:1;
                flex-grow:1;
                margin-bottom:0;
                padding:0em 7em;
        }

        .footer .footer-nav-list {-webkit-flex: .5;-ms-flex: .5;flex: .5;border-bottom: none;}

        .footer .footer-nav-heading {margin-bottom: 30px;padding-top: 0;padding-bottom: 0;}

        .footer .footer-nav-content {padding-top: 0;padding-bottom: 0;padding-left: 0;}

        .footer .footer-nav-heading::after {display:none;}

	.footer .containts-2, .footer .containts-3, .footer .containts-4, .footer .containts-5, .footer .containts-6, .footer .containts-7, .footer .containts-8, .footer .containts-9 {margin-top: 0;}
        //.footer .containts-3 {margin-top: 0;}

	
	.footer .footer-nav-link { margin-bottom:0; }
	.footer .footer-nav-link span { font-size:12px; }
	
	.footer .footer-nav-link span.bold { color:#333; }
	.footer .footer-nav-link span.sales { color:#fdb43c; }


	//.footer .newsletter-wrapper { float:right; }

	//.footer .newsletter-wrapper { padding: 20px 50px 20px; }


        .footer .footer-social {text-align:right;padding-top:0px;}
	.footer .social-media  { height: 235px; }

	.footer .social-media .social-wrapper  { position:absolute; bottom:30px; text-align:right; }

	.footer .footer-bottom-end-content {padding 1em 4em;}
        .footer .footer-bottom-end-content span {font-size:.8em; }


	
	


}




@media screen and (max-width: 992px) {
	.cart-items .cart-header {display: none !important;}

	#products .products .product:nth-child(n+7) {display: none !important;}
        #products .products .product:nth-child(n+8) {display: none !important;}

	.tab-content-container.sidepanel-view {margin-left:0;}
	//.detail-tab-wrap .nav-tabs {padding-left:40%;}

	//.footer .footer-widget { margin-bottom:0px; }

	.footer .widget-group-first::before, .footer .widget-group-first::after { display:table; content: " "; }
	.footer .widget-group-first::after { clear:both; }

	//.footer .social-media .social-wrapper  { position:absolute; bottom:30px; }
}

@media screen and (min-width: 992px) {
	#content .main-nav .searchbox input:focus {width:100%;}
	
	.tab-content-container.sidepanel-view {margin-left:24.99999%;}

	//.cart-items .cart-line-item .each, .cart-items .cart-line-item .total {left: 0%;}
	.cart-items .cart-line-item .total {clear: none;}
	//.cart-items .cart-line-item .actions {right: 0%;}
	//.cart-items .cart-line-item .heading {display: none !important;}

	.sidemenu .menu-nav-list {-webkit-flex: .5;-ms-flex: .5;flex: .5;border-bottom: none;}

        //.sidemenu .menu-nav-heading {margin-bottom: 30px;padding-top: 0;padding-bottom: 0;}

	

	#machines .machine:nth-child(1) {padding-bottom:0px;}
	#products .products .product:nth-child(3n+1) {clear: none;}
	#products .products .product:nth-child(4n+1) {clear: both;}        


	#login .new {margin-left:8.33333%;}

	
	//.pagination-wrap .results-editing {text-align: right;}


	#services .services-wrap .babylock-dealer {margin-left:66.66666%;}
	#sidemenu .single-widget:last-child {margin-left: 16.66666%;}

	
	.sidemenu .menu-nav-list {-webkit-flex: .25;-ms-flex: .25;flex: .25;border-bottom: none;}
	.sidemenu .menu-nav-heading {margin-bottom: 30px;padding-top: 0;padding-bottom: 0;}


	.detail-tab-wrap .tab-content .tab-content-container {margin-top:0;}

	.footer .newsletter-wrapper { float:right; padding: 20px 20px 50px 20px; }
	//.footer .newsletter-wrapper { padding: 20px 20px; }

	.footer .social-media  { height: auto; }
	.footer .social-media  .social-wrapper { position:relative; bottom:auto; }



	//.detail-tab-wrap .nav-tabs {padding-left:40%;}

	//.footer .widget-group-last .jorrellS-col { float:none; }
}

@media screen and (min-width: 1200px) {
	//.detail-tab-wrap .nav-tabs {padding-left:50%;}

}




