@keyframes upAndDown {
	0%   {bottom:6%;}
    	25%  {bottom:7%;}
    	50%  {bottom:6%;}
	75%  {bottom:5%;}
    	100% {bottom:6%;}
}

@-webkit-keyframes upAndDown {
        0%   {bottom:6%;}
        25%  {bottom:7%;}
        50%  {bottom:6%;}
        75%  {bottom:5%;}
        100% {bottom:6%;}
}
